<!--<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        stocks Informations
      </div>
      <div class="card-body">
       <form>
         <div class="form-group">
           <label class="control-label">Designation:</label>
           <input class="form-control" type="text" [(ngModel)]="portable.designation">
         </div>
         <div class="form-group">
            <label class="control-label">Quantity:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.quantity">
         </div>
         <div class="form-group">
            <label class="control-label">Price Unit:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.priceUnit">
         </div>
         <div class="form-group">
            <label class="control-label">Creation Date:</label>
            <input class="form-control" type="date" [(ngModel)]="portable.dateCreation">
         </div>
         <div class="form-group">
            <label class="control-label">Notes:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.note">
         </div>
         <p class="mt-4">Choose An Image</p>
          <label class="custom-file">
          <input type="file" id="file" class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>
         <div class="form-group">
            <label class="control-label">Price Unit Semi Whole saler:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.priceUnitWholesaler">
         </div>
         <div class="form-group">
            <label class="control-label"> Price Unit Whole Saler</label>
            <input class="form-control" type="number" [(ngModel)]="portable.priceUnitWholesaler">
         </div>
         <div class="form-group">
           <label class="control-label">Stock d'alert:</label>
           <input class="form-control" type="number" [(ngModel)]="portable.stockAlert">
         </div>
         <div class="form-group">
           <label class="control-label">Stock Minimum:</label>
           <input class="form-control" type="number" [(ngModel)]="portable.stockMinimum">
         </div>
         <div class="form-group">
           <label class="control-label">Volume:</label>
           <input class="form-control" type="number" [(ngModel)]="Produit.volume">
         </div>
         <div class="form-group">
           <label class="control-label">Product Category:</label>
            <select [(ngModel)]="portable.productCategory" name="selectl" class="form-control">
              <option [ngValue]="portable.productCategory" selected>{{portable.productCategory?.name}}</option>
              <option [ngValue]="portableCategory" *ngFor="let productCategory of listProductCategory">{{productCategory?.name}}</option>
            </select>
         </div>
          <div class="form-group">
            <label class="control-label">Measure Unit:</label>
            <select [(ngModel)]="portable.measureUnit" name="selectl" class="form-control">
              <option [ngValue]="portable.measureUnit" selected>{{produit.measureUnit?.unity}}</option>
              <option [ngValue]="measureUnit" *ngFor="let measureUnit of listMeasureUnit">{{measureUnit?.unity}}</option>
            </select>
          </div>
         <div class="form-group">
           <label class="control-label">State:</label>
           <select [(ngModel)]="portable.state" name="selectl" class="form-control">
             <option [ngValue]="portable.state" selected>{{portable.state?.name}}</option>
             <option [ngValue]="state" *ngFor="let state of liststate">{{state?.name}}</option>
           </select>
         </div>
         <div class="form-group">
           <label class="control-label">Emplacement:</label>
           <select [(ngModel)]="portable.emplacement" name="selectl" class="form-control">
             <option [ngValue]="portable.emplacement" selected>{{portable.emplacement?.name}}</option>
             <option [ngValue]="emplacement" *ngFor="let emplacement of listemplacement">{{emplacement?.name}}</option>
           </select>
         </div>
       </form>
      </div>
    </div>
  </div>
</div>-->

<form>
  <div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        stocks Informations
      </div>
      <div class="card-body">

         <div class="form-group">
           <label class="control-label">Designation:</label>
           <input class="form-control" type="text" [(ngModel)]="portable.designation" name="designation"/>
         </div>
         <div class="form-group">
            <label class="control-label">Quantity:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.quantity" name="quantity">
         </div>
         <div class="form-group">
            <label class="control-label">Price Unit:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.priceUnit" name="price unit">
         </div>
         <div class="form-group">
            <label class="control-label">Creation Date:</label>
            <input class="form-control" type="date" [(ngModel)]="portable.dateCreation" name="creatioin date">
         </div>
         <div class="form-group">
            <label class="control-label">Notes:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.note" name ="notes">
         </div>
         <p class="mt-4">Choose An Image</p>
          <label class="custom-file">
          <input type="file" id="file" class="custom-file-input" name="images">
          <span class="custom-file-control"></span>
        </label>
         <div class="form-group">
            <label class="control-label">Price Unit Semi Whole saler:</label>
            <input class="form-control" type="number" [(ngModel)]="portable.priceUnitWholesaler" name="priceUnitWholesaler">
         </div>
         <div class="form-group">
            <label class="control-label"> Price Unit Whole Saler</label>
            <input class="form-control" type="number" [(ngModel)]="portable.priceUnitWholesaler" name="priceUnitWholesaler">
         </div>
         <div class="form-group">
           <label class="control-label">Stock d'alert:</label>
           <input class="form-control" type="number" [(ngModel)]="portable.stockAlert" name="stockAlert">
         </div>
         <div class="form-group">
           <label class="control-label">Stock Minimum:</label>
           <input class="form-control" type="number" [(ngModel)]="portable.stockMinimum" name="stockMinimum">
         </div>
         <div class="form-group">
           <label class="control-label">Volume:</label>
           <input class="form-control" type="number" [(ngModel)]="portable.volume" name="volume"/>
         </div>
         <div class="form-group">
           <label class="control-label">Product Category:</label>
            <select [(ngModel)]="portable.productCategory" name="productCategory" class="form-control">
              <option [ngValue]="portable.productCategory" selected>{{portable.productCategory?.name}}</option>
              <option [ngValue]="portableCategory" *ngFor="let productCategory of listProductCategory">{{productCategory?.name}}</option>
            </select>
         </div>
          <div class="form-group">
            <label class="control-label">Measure Unit:</label>
            <select [(ngModel)]="portable.measureUnit" name="measureUnit" class="form-control">
              <option [ngValue]="portable.measureUnit" selected>{{portable.measureUnit?.unity}}</option>
              <option [ngValue]="measureUnit" *ngFor="let measureUnit of listMeasureUnit">{{measureUnit?.unity}}</option>
            </select>
          </div>
         <div class="form-group">
           <label class="control-label">State:</label>
           <select [(ngModel)]="portable.state" name="state" class="form-control">
             <option [ngValue]="portable.state" selected>{{portable.state?.name}}</option>
             <option [ngValue]="state" *ngFor="let state of listState">{{state?.name}}</option>
           </select>
         </div>
         <div class="form-group">
           <label class="control-label">Emplacement:</label>
           <select [(ngModel)]="portable.emplacement" name="emplacement" class="form-control">
             <option [ngValue]="portable.emplacement" selected>{{portable.emplacement?.name}}</option>
             <option [ngValue]="emplacement" *ngFor="let emplacement of listEmplacement">{{emplacement?.name}}</option>
           </select>
         </div>

      </div>
      <div class="card-footer"><button class="btn btn-default" (click)="savePortable ()">Save</button></div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        Phones Informations
      </div>
      <div class="card-body">
        <div class="form-group">
          <label class="control-label">Battery:</label>
          <!--<input class="form-control" type="text" [(ngModel)]="portable.battery">-->
          <input class="form-control" type="text" [value]="portable.battery" name="battery">
        </div>
         <div class="form-group">
           <label class="control-label">Connection:</label>
           <input class="form-control" type="text" [(ngModel)]="portable.connection" name="connection">
         </div>
        <div class="form-group">
          <label class="control-label">Dimension:</label>
          <input class="form-control" type="number" [(ngModel)]="portable.dimension" name="dimension">
        </div>
        <div class="form-group">
          <label class="control-label">Dushproof:</label>
          <input class="form-control" type="text" [(ngModel)]="portable.dushproof" name="dushproof">
        </div>
        <div class="form-group">
          <label class="control-label">finger Print:</label>
          <input class="form-control" type="text" [(ngModel)]="portable.fingerprint" name="fingerprint">
        </div>
        <div class="form-group">
          <label class="control-label">Ip Rating:</label>
          <input class="form-control" type="text" [(ngModel)]="portable.ipRating" name="ipRating">
        </div>
        <div class="form-group">
          <label class="control-label">Screen:</label>
          <input class="form-control" type="number" [(ngModel)]="portable.screen" name="screen">
        </div>
        <div class="form-group">
          <label class="control-label">SIM:</label>
          <input class="form-control" type="text" [(ngModel)]="portable.sim" name="sim">
        </div>
         <div class="form-group">
           <label class="control-label">Splash Proof:</label>
           <input class="form-control" type="text" [(ngModel)]="portable.splashproof" name="splashproof">
         </div>
        <div class="form-group">
          <label class="control-label">Water Proof:</label>
          <input class="form-control" type="text" [(ngModel)]="portable.waterproof" name="waterproof">
        </div>
         <div class="form-group">
           <label class="control-label">Weight:</label>
           <input class="form-control" type="number" [(ngModel)]="portable.weight" name="weight">
         </div>
        <div class="form-group">
          <label class="control-label">System Os:</label>
          <select [(ngModel)]="portable.os" name="os" class="form-control">
            <option [ngValue]="portable.os" selected>{{portable.os?.name}}</option>
            <option [ngValue]="os" *ngFor="let os of listSystemOs">{{os?.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Camera:</label>
          <select [(ngModel)]="portable.camera" name="camera" class="form-control">
            <option [ngValue]="portable.camera" selected>{{portable.camera?.frontCamera}}</option>
            <option [ngValue]="camera" *ngFor="let camera of listCamera">{{camera?.frontCamera}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Memoire:</label>
          <select [(ngModel)]="portable.memory" name="memory" class="form-control">
            <option [ngValue]="portable.memory" selected>{{portable.memory?.brand}}</option>
            <option [ngValue]="memory" *ngFor="let memory of listMemory">{{memory?.brand}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Phone Category:</label>
          <select [(ngModel)]="portable.portableCategory" name="portableCategory" class="form-control">
            <option [ngValue]="portable.portableCategory" selected>{{portable.portableCategory?.name}}</option>
            <option [ngValue]="portableCategory" *ngFor="let portableCategory of listPortableCategory">{{portableCategory?.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">CPU:</label>
          <select [(ngModel)]="portable.cpu" name="cpu" class="form-control">
            <option [ngValue]="portable.cpu" selected>{{portable.cpu?.brand}}</option>
            <option [ngValue]="cpu" *ngFor="let cpu of listCpu">{{cpu?.brand}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>




</div>

</form>
