.u-search {
  min-width: 250px;
}

u-col {
  min-width: 150px;
}

.u-close {
  position: absolute;
  top: -8px;
  right: -8px;
}

.u-item {
  position: relative;
  min-width: 300px;
  min-height: 80px;
  max-height: 80px;
  border-radius: 3px;
}

.shadow	{
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.shadow:active {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.20);
  -moz-box-shadow: 0 4px 6px 0 rgba(0,0,0,0.20);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.20);
}

.u-item:hover {
  cursor: pointer;
}

.u-details {
  width: 800px;
}
