
<div class="d-flex justify-content-between">
  <div>
    <button class="btn btn-primary" (click)="open(formUser)">Create User</button>
  </div>
  <div class="u-search">
    <form>
      <div class="form-group">
        <input type="search" placeholder="Search" class="form-control">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3 justify-content-center" *ngFor="let e of employees">
    <div class="card card-body card-widget bg-white card-inverse">
      <a href="javascript:;">
        <img src="assets/images/avatar.jpg" class="avatar-sm rounded-circle" alt="">
      </a>
      <div class="pl-3 pr-3">
        <p class="ff-headers mb-0 text-uppercase">e.surname <strong>e.name</strong></p>
        <small class="d-block">San Francisco, CA</small>
        <small class="d-block">UX Developer</small>
      </div>
    </div>
  </div>
</div>


<ng-template #userDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Modal title</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #formUser let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <p>Enter User Informations to Sign in.</p>
        <div class="form-group row">
          <label for="username-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Username</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="text" [(ngModel)]="user.username" name="username" required id="username-input">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-4 col-lg-3 col-form-label">Password</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <button class="btn btn-primary" (click)="generatePassword()">Generate</button> &nbsp;
            <strong>{{ user.password }}</strong>
          </div>
        </div>
        <div class="form-group row">
          <label for="email-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Email</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <input class="form-control" type="email" [(ngModel)]="user.email" name="email" required id="email-input">
          </div>
        </div>
        <div class="form-group row">
          <label for="employee-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Employee</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon"><i class="fa fa-user"></i></div>
              <select name="employee" [(ngModel)]="user.employee" class="form-control" id="employee-input" required>
                <option [ngValue]="empItem" *ngFor="let empItem of employees">{{ empItem.name }} {{ empItem.surname }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleSelect2" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Roles</label>
          <div class="col-sm-9 col-md-8 col-lg-9">
            <div class="row">
              <div class="col">
                <select id="exampleSelect2" multiple name="roles" [(ngModel)]="rolesSel" class="form-control" [compareWith]="compareFn">
                  <option [ngValue]="roleItem" *ngFor="let roleItem of roles">{{roleItem.roleName}}</option>
                </select>
                <div class="text-right mt-1">
                  <button class="btn btn-secondary btn-sm" (click)="addRole()">Push <i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
              <div class="col">
                <select multiple name="rolesSel" [(ngModel)]="rolSelRemoved" class="form-control" [compareWith]="compareFn">
                  <option [ngValue]="r" *ngFor="let r of user.roles">{{ r.roleName }}</option>
                </select>
                <!-- <span *ngFor="let r of roleSelected" class="badge badge-success rounded">{{r}} &nbsp; </span> -->
                <div class="text-right mt-1">
                  <button class="btn btn-warning btn-sm" (click)="clearSelectedRole()">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSaveUser()">Save changes</button>
  </div>
</ng-template>



