
<div class="d-flex justify-content-end">
  <div class="u-search" *ngIf="mode == 1">
    <form>
      <div class="form-group">
        <input type="search" placeholder="Search" class="form-control">
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3 justify-content-center" *ngFor="let menu of menus">
    <div class="card card-body card-widget {{ menu.color }} card-inverse">
      <i class="fa {{ menu.icon }} fa-3x"></i>
      <div class="pl-3 pr-3 w-75">
        <p class="ff-headers mb-0 text-uppercase"><strong>{{ menu.name }}</strong></p>
        <small class="d-block">{{ menu.description }}</small>
      </div>
    </div>
  </div>
</div>

<ng-template #menuDetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">Modal title</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #createRole let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{addEditCardHeader}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onCreateMenu(f)">
      <div class="card">
        <div class="card-body">
          <p>Enter Menu Informations for Role</p>
            <div class="form-group row">
              <label for="menu-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Menu Name</label>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input class="form-control" type="text" [(ngModel)]="menu.name" name="name" #menuName="ngModel" maxlength="15" required
                       id="menu-text-input">
                <div class="form-control-feedback">{{ menuName.value?.length }} / 15</div>
              </div>
            </div>
            <div class="form-group row">
              <label for="icon-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Icon Name</label>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input class="form-control" type="text" [(ngModel)]="menu.icon" name="icon" id="icon-text-input" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="color-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Background Color</label>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <input class="form-control" type="text" [(ngModel)]="menu.color" name="color" id="color-text-input">
              </div>
            </div>
            <div class="form-group row">
              <label for="desc-text-input" class="col-sm-3 col-md-4 col-lg-3 col-form-label">Description</label>
              <div class="col-sm-9 col-md-8 col-lg-9">
                <textarea class="form-control" type="text" [(ngModel)]="menu.description" name="description" #desc="ngModel" maxlength="50"
                           id="desc-text-input"></textarea>
                <div class="form-control-feedback">{{ desc.value?.length }} / 50</div>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="onCreateMenu() ? c('Close click') : null"
      [disabled]="!f.form.valid">Save changes</button>
  </div>
</ng-template>



