
<div class="container">
    <h2 class="text-center">Applications</h2>
    <div class="row pt-sm-5">
      <!-- <div class="col-sm-3 text-center mb-4">
        <a routerLink="/employee">
          <p><i class="fa fa-users fa-5x" aria-hidden="true"></i></p>
          <p>Employees</p>
        </a>
      </div>
      <div class="col-sm-3 text-center mb-4">
        <a>
          <p><i class="fa fa-industry fa-5x" aria-hidden="true"></i></p>
          <p>Works</p>
        </a>
      </div>
      <div class="col-sm-3 text-center mb-4">
        <a href="#">
          <p><i class="fa fa-eur fa-5x" aria-hidden="true"></i></p>
          <p>Accounting</p>
        </a>
      </div>
      <div class="col-sm-3 text-center mb-4">
        <a href="#">
          <p><i class="fa fa-hand-lizard-o fa-5x" aria-hidden="true"></i></p>
          <p>Recrutment</p>
        </a>
      </div>
      <div class="col-sm-3 text-center mb-4">
        <a href="#">
          <p><i class="fa fa-money fa-5x" aria-hidden="true"></i></p>
          <p>Facturation</p>
        </a>
      </div>
      <div class="col-sm-3 text-center mb-4">
        <a href="#">
          <p><i class="fa fa-comments fa-5x" aria-hidden="true"></i></p>
          <p>Discussion</p>
        </a>  *ngFor="let item of items.getAllMenu()"
      </div> -->
      <div class="col-sm-3">
        <a [routerLink]="['/dashboard-stocks']">
          <div class="card card-body card-widget bg-brown card-inverse">
            <div class="mr-auto">
              <h3 class="fw-300 mb-0">Inventory</h3>
              <small>Stock Management</small>
            </div>
            <div class="d-block">
              <div class="icon icon-basic-archive-full h1 mb-0"></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3">
        <a [routerLink]="['/dashboard-stocks']">
          <div class="card card-body card-widget bg-deep-purple card-inverse">
            <div class="mr-auto">
              <h3 class="fw-300 mb-0">Employees</h3>
              <small>Employees Management</small>
            </div>
            <div class="d-block">
              <i class="icon-people"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="col-sm-3 text-center mb-4">
        
          <p><i class="fa fa-comments fa-5x" aria-hidden="true"></i></p>
          <p>Inventory</p>
        </a>
      </div> -->
    </div>
</div>